* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;

}
.navigation {
  flex: 1;
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
}
.products {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.products-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex: 1;
}

.news {
  display: flex;
  flex: 1;
  background-color: #0ff;
  min-height: 200px;

}

span {
  margin: auto;
  font-family: Verdana;
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
}

@media screen and (min-width: 600px) {
  .products {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
}